.Layout {
    height: 800px;
    max-width: 1000px;
    margin: 89px auto 0 auto;
    animation: mainIn 1s;
}

.DogImage {
    width: 100%;
    padding: 5%;
    height: auto;
}

@media (max-width: 740px) {
    .Layout {
        height: 100%;
        margin-top: 60px;
    }
    .DogImage {
        display: none;
    }
}

