@import "mixins.scss";
@import "variables.scss";

.Card {
    width: 50%;
    height: 186px;
    cursor: pointer;
}

.Card {
    background-color: #FAF9F9;
    border: 1px solid #CD8B65;
}

.CardActive {
    background: $mainGradient;
    box-shadow: $boxShadow;
}

.WholeOrg {
    border-radius: 0px 24px 24px 0px;
}

.Specific {
    border-radius: 24px 0px 0px 24px;
}

.CardImageWrapper {
    @include flex(center);
    height: 80px;
    width: 80px;
    margin: 23px 0 0 25px;
    background: #ccc;
    border-radius: 50%;
}

.ActiveWrapper {
    background: #a96541;
}

.Card h2 {
    width: 80%;
    margin: 17px 0 24px 25px;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #585757;
}

.DesActive {
    color: #fff!important;
}

.DisabledCard {
    cursor: not-allowed;
}

@media (max-width: 740px) {
    .ContributionCards {
        margin: 0 25px;
    }
    
    .CardImageWrapper {
        height: 50px;
        width: 50px;
        margin: 10px auto;
    }
    
    .Card h2 {
        font-size: 14px;
    }
}