.Form-group, .Form-group-mobile {
    width: 100%;
    height: 74px;
    background: #FFFFFF;
    border: 1px solid #CD8B65;
    border-radius: 8px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.Form-group-mobile {
    height: 80px;
}

.Form-group label, .Form-group-mobile label {
    width: 60%;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    margin-left: 24px;
}


.Form-group .input, .Form-group-mobile .input {
    width: 80%;
    border: none;
    margin-left: 24px;
    outline: none;
}

.InputValidityWrapper {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InputValid {
    color: green;
    font-size: 30px;
}

.InputInvalid {
    color: red;
    font-size: 30px;
}