@import "mixins.scss";
@import "variables.scss";

#Footer {
    margin: 130px auto 0px auto;
    border-top: 1px solid #CD8B65;
    font-family: $mainFont;
}

#Footer .LogoFooter {
    @include flex(center);
}

#Footer .LogoImage, #Footer .LogoText {
    height: 40px;
    width: auto;
    margin: 5px;
}

#Footer h1 {
    font-weight: 800;
    font-size: 16px;
    line-height: 130%;
    margin: 24px 0;
}

#Footer .Link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #585757;
    cursor: pointer;
}

.FooterText {
    width: 133px;
}

@media (max-width: 740px) {
    #Footer .LogoImage, #Footer .LogoText {
        height: 40px;
        width: auto;
        margin: 15px 0;
    }
    #Footer h1 {
        margin: 15px auto;
        text-align: center;
    }
    .FooterText, .Link {
        width: 60%;
        margiN: 10px 20%;
        text-align:justify
    }
    .Link {
        text-align: center;
    }
}