
.ChooseSpecific {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.SecondaryHeader, .ChooseSpecificRequiredOrNot {
    margin-top: 56px;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #2F2F2F;
}

.ChooseSpecificRequiredOrNot {
    text-align: right;
}
