@import "variables.scss";
@import "mixins.scss";

.ContributionValueHeader {
    @include flex(center);
    justify-content: space-between;
    margin-top: 40px;
}

.ContributionButton, .ContributionInput {
    width: 65px;
    height: 65px;
    background-color: #fff;
    border: 1px solid #DFDFDF;
    border-radius: 8px;
    margin-right: 7px;
    cursor: pointer;
    outline: none;
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
    color: #2F2F2F;
    font-family: $mainFont;
}

.ContributionInput {
    @include flex(center);
    width: 150px;
    height: 65px;
    margin-right: 0;
    cursor: pointer;
}

.ContributionInput input {
    border: none;
    width: 50px;
    outline: none;
    cursor: pointer;
    font-weight: 800;
}

.ContributionInput p {
    @include flex(center);
    font-size: 16px;
    font-weight: 800;
    margin: 0;
}

.ContributeItemSelected {
    background: $mainGradient;
    color: #fff;
    border: none;
}

.ContributeItemSelected input {
    background: $mainGradient;
    color: #fff;
}

@media (max-width: 740px) {
    .ContributionItems{
        @include flex(center)
    }

    .ContributionButton {
        width: 75px;
        height: 75px;
        border-radius: 8px;
        margin: 2px;
    }

    .ContributionInput {
        width: 150px;
        height: 75px;
        margin: 2px;
    }

    .ContributionInput input {
        border: none;
        width: 50px;
        outline: none;
        cursor: pointer;
    }

    .ContributionInput p {
        margin: 0;
        font-size: 16px;
        font-weight: 800;
    }

    .ContributeItemSelected, .ContributeItemSelected input {
        background: $mainGradient;
        color: #fff;
    }
}
