@import "mixins.scss";
@import "variables.scss";

.ContributionBtn {
    @include flex(center);
    justify-content: flex-end;
    margin-top: 72px;
}

@media (max-width: 740px) {
    .ContributionBtn {
        justify-content: center;
    }
}

.Loading {
    display: inline-flex;
    margin-top: 72px;
}

.Loading p {
    margin-right: 10px;
    font-size: 14px;
    font-family: $mainFont;
}

.ant-spin-dot-item {
    background-color: $inputColor;
}