@import "mixins.scss";
@import "variables.scss";

.Navbar {
    @include flex(space-between);
    width: 100%;
    height: 40px;
    background: #FEFEFE;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
    font-family: $mainFont;
    position: fixed; 
    top: 0; 
    z-index: 100;
}

.SocSites {
    @include flex(center);
    margin-right: 150px;
}

.NavDes {
    font-size: 14px;
    margin: 0 0 0 150px;
}

.FBIcon, .IGIcon {
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin-left: 8px;
}

@media (max-width: 740px) {

    .SocSites {
        margin-right: 25px;
    }
    
    .NavDes {
        margin: 0 0 0 25px;
    }   
}
