@import "mixins.scss";

.NavProgress {
    width: 100%;
}

.NavProgress img {
    margin-right: 5px;
}

@media (max-width: 740px) {
    .NavProgress {
        @include flex(center);
        width: 100vw;
    }
}
